/*-------------------------------------------------------------------*/
/*CSS styles for the report------------------------------------------*/
/*-------------------------------------------------------------------*/

h1, h2, h3, h4 {
    line-height: 1.5;
}

p {
    line-height: 2;
    font-size: 0.9em;
}

.report {
    width: 40em;
    margin: auto;
}

figcaption {
    color: var(--dark-grey);
    padding: 2px;
    font-size: 0.8em;
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow:hidden;
}


@media screen and (min-width: 1011px) {

    /*--------------------------------------------------------------------*/
    /*Sticky navigation bar on desktop------------------------------------*/
    /*--------------------------------------------------------------------*/

    /*Remove the page header to increase the main content viewport space when the navigation bar becomes sticky*/
    .nav-bar.sticky .company-name-JSON {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .report {
        width: auto;
        margin: 2em;
    }    
}