@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kaushan+Script&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*-------------------------------------------------------------------*/
/*CSS styles for the report------------------------------------------*/
/*-------------------------------------------------------------------*/

* {
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', 'Futura', sans-serif;
    line-height: 1.5;
}

p {
    font-family: 'Lora', 'Garamond', serif;
    line-height: 2;
    font-size: 0.9em;
}

.report {
    width: 40em;
    margin: auto;
}

.report a {
    color: black;
    font-family: 'Josefin Sans', 'Futura', sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

.report h2, .report h3 {
    padding-top: 1em;
}

.report h2 {
    font-size: 1.2em;
}

.report h3 {
    font-size: 1em;
}

.report p {
    font-size: 0.8em;
}

.report .desktop, .report .tablet, .report .mobile {
    margin-bottom: 1.5em;
    border: 3px solid rgb(80, 80, 80);
}

.report .small-image {
    width: 8em;
}

.report .mobile {
    width: 24em;
}

.report .tablet {
    width: 28em;
}

.report .desktop {
    width: 32em;
}

#sitemap-diagram {
    width:38em;
}

.table-of-contents h3 {
    padding: 0;
}

.table-of-contents li {
    font-family: var(--main-header);
    padding: .2em;
    color: var(--darker-grey);
}

#appendix li {
    font-family: 'Josefin Sans', 'Futura', sans-serif;
}